.frame-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 150vh;
    min-height: 100vh;
    overflow: visible;
    z-index: 1;
    top: -20vh;
}

.overlay-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow: visible;
}

.text-svg {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 3;
}

.spline-wrapper {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: visible;
    background: transparent;
    z-index: 1;
}

.nova-container {
    position: absolute;
    width: 200%;
    height: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.nova-looper-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 4;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nova-looper {
    width: 40%;
    height: 40%;
    max-width: 600px;
    max-height: 00px;
    transform: rotate(-9deg);
}

@media (max-width: 1200px) {
    .text-svg {
        transform: scale(0.9) translateY(-20px);
    }
    .nova-looper {
        width: 35%;
        height: 35%;
    }
}

@media (max-width: 768px) {
    .text-svg {
        transform: scale(0.7) translateY(-20px);
    }
    .nova-looper {
        width: 30%;
        height: 30%;
    }
}

@media (max-width: 480px) {
    .text-svg {
        transform: scale(0.5) translateY(-20px);
    }
    .nova-looper {
        width: 25%;
        height: 25%;
    }
}

@media (max-width: 360px) {
    .text-svg {
        transform: scale(0.1) translateY(-20px);
    }
    .nova-looper {
        width: 20%;
        height: 1%;
    }
}